.status-circle-0 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
  display: inline-block;
  margin: 0 5px; }

.status-circle-1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  display: inline-block;
  margin: 0 5px; }

.status-circle-2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: orange;
  display: inline-block;
  margin: 0 5px; }

/*# sourceMappingURL=app.css.map */
