// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$statuses: 0 red, 1 green, 2 orange;

@each $status in $statuses {
  .status-circle-#{nth($status,1)} {
    width: 10px;
    height : 10px;
    border-radius : 50%;
    background: nth($status,2);
    display: inline-block;
    margin : 0 5px;
  }
}
